<div class="container">  

<%= form_for(resource, as: resource_name,:html => {:class => "new_user form-signin"}, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <h2 class="form-signin-heading">Зарегистрироваться</h2>
    <br>
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>

   
    <%= f.password_field :password, autocomplete: "off", class: "form-control fir", placeholder: "Password"  %>

    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control conf", placeholder: "Confirm Password"  %>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
  </div>
  <br>
  <%= render "devise/shared/links" %>
<% end %>


