<div class="container con">
  <h2>Task: <%= @task.title %></h2>
  <div class="row">
    <dl class="dl-horizontal">
        <div class="col s2"> <dt><span class="property">Title:</span></dt> </div>
        <div class="col s10">
            <dd>
                <%= @task.title %>
            </dd>
        </div>
    </dl>
  </div>
  <div class="row">
    <dl class="dl-horizontal">
        <div class="col s2"> <dt><span class="property">Description:</span></dt> </div>
        <div class="col s10">
            <dd>
                <%= @task.description %>
            </dd>
        </div>
    </dl>
  </div>
  <div class="row">
    <dl class="dl-horizontal">
        <div class="col s2"> <dt><span class="property">Date:</span></dt> </div>
        <div class="col s10">
            <dd>
                <%= @task.dt %>
            </dd>
        </div>
    </dl>
  </div>
  <% if current_user.email == @task.owner %>
    <%= form_for :share,url: share_task_path do |t| %>
      <br />
        <div class="input-field col s12 m6">
            <select class="icons" name="email">
              <option value="" disabled selected>Выберите друга</option>
                <% @friends.each do |friend| %>
                    <%= @fr = User.find(friend.friend_id) %>
                    <% if @fr.photo.length < 1 %>
                      <option value="<%= @fr.email %>" data-icon="/default.png" class="circle"><%= @fr.name %> (<%= @fr.email %>)</option>
                    <% else %>
                      <option value="<%= @fr.email %>" data-icon="<%= @fr.photo %>" class="circle"><%= @fr.name %> (<%= @fr.email %>)</option>
                    <% end %>
                <% end %>
            </select>
            <label></label>
        </div>
      <br><br>
      
      <!--<input type="text" name="email" id="" value="" class="form control" placeholder="e-mail пользователя" />-->
      <input type="submit" name="" id="" value="Поделиться событием" />
    <% end %>
    <br />
  <%= link_to 'Редактировать', edit_task_path(@task) %>
  <%= link_to 'Удалить', task_path(@task), method: :delete, data: {confirm: 'Вы уверены, что хотите удалить эту задачу'}  %>
  <% else %>
    <p>Поделился: <%= @task.owner %></p>
  <% end %><br />
  <%= link_to 'Вернуться', "/" %>
</div>

