<div class="container con">
  <h2>Task: <%= @task.title %></h2>
  <div class="row">
    <dl class="dl-horizontal">
        <div class="col s2"> <dt><span class="property">Title:</span></dt> </div>
        <div class="col s10">
            <dd>
                <%= @task.title %>
            </dd>
        </div>
    </dl>
  </div>
  <div class="row">
    <dl class="dl-horizontal">
        <div class="col s2"> <dt><span class="property">Description:</span></dt> </div>
        <div class="col s10">
            <dd>
                <%= @task.description %>
            </dd>
        </div>
    </dl>
  </div>
  <div class="row">
    <dl class="dl-horizontal">
        <div class="col s2"> <dt><span class="property">Date:</span></dt> </div>
        <div class="col s10">
            <dd>
                <%= @task.dt %>
            </dd>
        </div>
    </dl>
  </div>
  <% if current_user.email == @task.owner %>
    <%= form_for :share,url: share_task_path do |t| %>
      <input type="text" name="email" id="" value="" class="form control" placeholder="e-mail пользователя" />
      <input type="submit" name="" id="" value="Поделиться событием" />
    <% end %>
    <br />
  <%= link_to 'Редактировать', edit_task_path(@task) %>
  <%= link_to 'Удалить', task_path(@task), method: :delete, data: {confirm: 'Вы уверены, что хотите удалить эту задачу'}  %>
  <% else %>
    <p>Поделился: <%= @task.owner %></p>
  <% end %><br />
  <%= link_to 'Вернуться', user_root_path %>
</div>

