<div class="container">
  <h2>Task: <%= @task.title %></h2>
  <dl class="dl-horizontal">
    <dt>Task name:</dt>
    <dd><%= @task.title %></dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Description:</dt>
    <dd><%= @task.description %></dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Date:</dt>
    <dd><%= @task.dt %></dd>
  </dl>
  <% if current_user.email == @task.owner %>
    <%= form_for :share,url: share_task_path do |t| %>
      <input type="text" name="email" id="" value="" class="form control" placeholder="e-mail пользователя" />
      <input type="submit" name="" id="" value="Поделиться событием" />
    <% end %>
    <br />
  <%= link_to 'Редактировать', edit_task_path(@task) %>
  <%= link_to 'Удалить', task_path(@task), method: :delete, data: {confirm: 'Вы уверены, что хотите удалить эту задачу'}  %>
  <% else %>
    <p>Поделился: <%= @task.owner %></p>
  <% end %><br />
  <%= link_to 'Вернуться', user_root_path %>
</div>

