<div class="container con">
    <div class="row">
        <div class="col-sm-4 col s4">
            <div class="user-img">
                <% if !(@u_friend.photo.length < 1) %> <img class="profile-photo" src="<%= @u_friend.photo %>">
                    <% else %> <img class="profile-photo" src="/default.png">
                        <% end %>
            </div>
        </div>
        <div class="col-sm-8 col s8">
            <h1>My friend's profile</h1>
            <br />
            <div class="row">
                <dl class="dl-horizontal">
                    <div class="col s2"> <dt><span class="property">First name:</span></dt> </div>
                    <div class="col s10">
                        <dd>
                            <%= @u_friend.name %>
                        </dd>
                    </div>
                </dl>
            </div>
            <div class="row">
                <dl class="dl-horizontal">
                    <div class="col s2"> <dt><span class="property">Second name:</span></dt> </div>
                    <div class="col s10">
                        <dd>
                            <%= @u_friend.second_name %>
                        </dd>
                    </div>
                </dl>
            </div>
            <div class="row">
                <dl class="dl-horizontal">
                    <div class="col s2"> <dt><span class="property">Birthday:</span></dt> </div>
                    <div class="col s10">
                        <dd>
                            <%= @u_friend.birthday %>
                        </dd>
                    </div>
                </dl>
            </div>
            <div class="row">
                <dl class="dl-horizontal">
                    <div class="col s2"> <dt><span class="property">E-mail:</span></dt> </div>
                    <div class="col s10">
                        <dd>
                            <%= @u_friend.email %>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</div>