<div class="container con">
<% if @tasks %>
  <%= link_to 'add', new_task_path, class: "btn-floating btn-large waves-effect waves-light add-task" %>
  <h3>Your tasks:</h3>
  <div class="row">
  <% @tasks.each do |t| %>
    <div class="col s12 m6">
        <% if Position.find(t.id).isnew %>
            <div class="card green darken-3 darken-1" data-task_id="<%= t.task_id %>">
        <% else %>
           <div class="card blue-grey darken-1" data-task_id="<%= t.task_id %>">
        <% end %>
            <div class="card-content white-text">
                <span class="card-title"><%= Task.find(t.task_id).title %></span>
                <p><%= Task.find(t.task_id).description %></p>
                <p><%= Task.find(t.task_id).dt %></p>
                <% if !(Task.find(t.task_id).owner == current_user.email) %>
                    <p>Поделился: <%= Task.find(t.task_id).owner %></p>
                <% end %>
            </div>
            <div class="card-action">
                <%= link_to 'show', task_path(t.task_id) %>
                <% if Task.find(t.task_id).owner == current_user.email %>
                    <%= link_to 'edit', edit_task_path(t.task_id) %>
                    <a class="deleteAction" style="cursor: pointer;"><span>Удалить</span></a>
                <% end %>
            </div>
          </div>
        </div>
  <% end %>
</div>
<% end %>
</div>
