<div class="container">
  <div class="col-sm-4">
    <div class="user-img">
      <% if !(@user.photo) %>
        <img src="<%= @user.photo %>">
      <% else %>
        <img src="/default.png">
      <% end %>
    </div>
    <%= link_to 'Редактировать профиль', user_root_path %>
  </div>
  <div class="col-sm-8">
    <h1>Your profile</h1><br />
    <dl class="dl-horizontal">
      <dt>First name:</dt>
      <dd><%= @user.name %></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Second name:</dt>
      <dd><%= @user.second_name %></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Birthday:</dt>
      <dd><%= @user.birthday %></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>E-mail:</dt>
      <dd><%= @user.email %></dd>
    </dl>
  </div>
</div>
