<!DOCTYPE html>
<html>

<head>
    <title>CalendarManager</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
            <%= csrf_meta_tags %>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <div class="container"> <a class="brand-logo" href="#">Calendar Manager</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <% if user_signed_in? %>
                        <li>
                            <%= link_to 'My tasks', user_root_path %>
                        </li>
                        <li>
                            <%= link_to 'My friends', friends_path %>
                        </li>
                        <!-- TODO: profile avatar
                       <img src=" current_user.picture " alt="" />-->
                        <li>
                            <% if (current_user.photo.length > 1) %> <img class="nav-image" src="<%= current_user.photo %>">
                                <% else %> <img class="nav-image" src="/default.png">
                                    <% end %>
                        </li>
                        <li>
                            <a href="/persons/profile">
                                <%= current_user.email %>
                            </a>
                        </li>
                        <li>
                            <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
                        </li>
                        <% else %>
                            <li>
                                <%= link_to 'Войти', new_user_session_path %>
                            </li>
                            <li>
                                <%= link_to 'Зарегистрироваться', new_user_registration_path %>
                            </li>
                            <% end %>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="clearfix"></div>
    <%= yield %>
</body>

</html>